/* Windows Metro Snap mode fix */
@-ms-viewport{
  width: device-width;
}

h1.vw {
  font-size: 21vw;
  margin: 0;
}
h1.vh {
  font-size: 10vh;
  margin: 0;
}

code {
  font-size: 5vw;
  font-family: monospace;
}